<details>
    <summary><h2>Attach User to Subscription</h2></summary>
    <form id="attachSubscriptionForm" method="post" action="{{ url_for('subscription_bp.attach_user_to_subscription') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <label for="user_id">User:</label>
        <select id="user_id" name="user_id" required>
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
        </select>

        <label for="subscription_id">Subscription:</label>
        <select id="subscription_id" name="subscription_id" required>
            {% for subscription in one_time_subscriptions + regular_subscriptions %}
            <option value="{{ subscription.id }}">{{ subscription.name }}</option>
            {% endfor %}
        </select>

        <label for="next_due_date">Next Due Date:</label>
        <input type="date" id="next_due_date" name="next_due_date" value="{{ (now + timedelta(days=30)).strftime('%Y-%m-%d') }}" required>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" step="0.01" required>

        <label for="is_paused">Is Paused:</label>
        <input type="checkbox" id="is_paused" name="is_paused">

        <button type="button" onclick="attachUserToSubscription()">Attach User to Subscription</button>
    </form>
</details>
