<div>
    <h3 id="formHeader">{{ subscription.name }}</h3>
    <form id="attachUserForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input type="hidden" name="subscription_id" value="{{ subscription.id }}">
        <label for="user_id">User:</label>
        <select id="user_id" name="user_id" required>
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
        </select>

        <label for="next_due_date">Next Due Date:</label>
        <input type="date" id="next_due_date" name="next_due_date" required>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" step="0.01" required>

        <label for="is_paused">Is Paused:</label>
        <input type="checkbox" id="is_paused" name="is_paused">

        <button type="button" onclick="attachUserToSubscription('attachUserForm')"><i class="fas fa-save"></i> Attach</button>
    </form>
</div>
