<div>
    <h2 id="formHeader">{{ reminder.user.name }} / {{ reminder.id }}</h2>
    <form id="editReminderForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <label for="reminder_date">Reminder Date:</label>
        <input type="date" id="reminder_date" name="reminder_date" value="{{ reminder.reminder_date.strftime('%Y-%m-%d') }}" required>

        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="pending" {% if reminder.status == 'pending' %}selected{% endif %}>Pending</option>
            <option value="sent" {% if reminder.status == 'sent' %}selected{% endif %}>Sent</option>
        </select>

        <button type="button" onclick="editReminder('editReminderForm', '{{ reminder.id }}')"><i class="fas fa-save"></i> Save</button>
    </form>
</div>
