:root {
  --main-color: #4169E1; /*Основной цвет кнопок #495057(серый) или #4169E1(синий) */
  --act-color: #2743B3; /*Навелся или текущая вкладка цвет кнопок #343a40(серый) или #2743B3(синий)*/
}

.dark-mode {
    background-color: #1e1f26;
    color: #e4e6eb;
}

.dark-mode h1.centered, .dark-mode h2, .dark-mode h3 {
    color: #e4e6eb;
}

.dark-mode h3 {
    color: var(--main-color);
}

.dark-mode .sidebar {
    background-color: #2c2d33;
    border-left: 1px solid #3b3d46;
}

.dark-mode .tab-button, .dark-mode .sidebar-tab-button, .dark-mode .toggle-button, .dark-mode button {

    background-color: var(--main-color);
    color: white;

}

.dark-mode .tab-button:hover, .dark-mode .tab-button.active,
.dark-mode .sidebar-tab-button:hover, .dark-mode .sidebar-tab-button.active,
.dark-mode .toggle-button:hover, .dark-mode button:hover {
    background-color: var(--act-color);
}

.dark-mode table {

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dark-mode table, .dark-mode th, .dark-mode td {
    border: 1px solid #3b3d46;
}

.dark-mode th {
    background-color: var(--main-color);
    color: white;
}

.dark-mode td {
    background-color: #2c2d33;
    color: #e4e6eb;
}

.dark-mode tr:nth-child(even) td {
    background-color: #262830;
}

.dark-mode .payments-table tr.payment-row:nth-child(odd) {
    background-color: #262830; /* Темный фон для нечетных строк */
}

.dark-mode form input[type="text"], .dark-mode form input[type="number"],
.dark-mode form input[type="date"], .dark-mode form input[type="time"],
.dark-mode form textarea, .dark-mode form select {
    border: 1px solid #3b3d46;
    background-color: #3b3d46;
    color: #e4e6eb;
}


.dark-mode details {
    background-color: #2c2d33;
    border: 1px solid #3b3d46;
}

.dark-mode details summary {
    color: var(--main-color);
}

.dark-mode details summary:hover {
    color: var(--act-color);
}

.dark-mode .form-container {
    background-color: #2c2d33;
    border: 1px solid #3b3d46;
}

.dark-mode .button i, .dark-mode .sidebar-tab-button i, .dark-mode .tab-button i {
    margin-right: 8px;
}

.dark-mode table.details-table th, .dark-mode table.details-table td {
    padding: 5px 10px;
    border: 1px solid #3b3d46;
}

.dark-mode table.details-table details {
    border-bottom: 1px solid var(--act-color);
}

.dark-mode table.details-table details summary {
    background-color: #1e1f26;
}

.dark-mode table td button, .dark-mode .toggle-button {
    background: none;
    color: #e4e6eb;
}

.dark-mode table td button i, .dark-mode .toggle-button i {
    font-size: 1.2em;
    color: inherit;
}

.dark-mode table td button[title]:hover::after, .dark-mode .toggle-button[title]:hover::after {
    content: attr(title);
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    top: -5px;
    left: 105%;
    font-size: 0.9em;
    max-width: 200px;
}

.dark-mode table td.actions {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.dark-mode table td.actions button {
    margin: 0 2px;
}

.dark-mode .sidebar-tab-buttons {
    justify-content: center;
    margin-bottom: 20px;
}

.dark-mode .payments-table tr:nth-child(even) td,
.dark-mode .payments-table tr:nth-child(odd) td {
    background-color: #262830; /* Задайте одинаковый цвет для всех строк */
}
/*#1e1f26*/
.dark-mode .payments-table tr.date-row td{
    background-color: #2c2d33;
}