<h2>One-time Subscriptions (Loans)</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Period</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for subscription in one_time_subscriptions %}
  {% if not subscription.is_paused %}
  <tr>
    <td>{{ subscription.id }}</td>
    <td>{{ subscription.name }}</td>
    <td>{{ subscription.description }}</td>
    <td>{{ subscription.monthly_amount }} RUB</td>
    <td>{{ subscription.period }}</td>
    <td>
      <button type="button" onclick="loadEditForm('subscription', '{{ subscription.id }}')">Edit</button>
      <button type="button" onclick="toggleSubscriptionPause({{ subscription.id }})">
        {{ 'Pause' if not subscription.is_paused else 'Resume' }}
      </button>
      <button type="button" onclick="deleteSubscription({{ subscription.id }})">Delete</button>
      <button type="button" onclick="openAttachUserForm('subscription', '{{ subscription.id }}')">Attach</button>
      <button class="toggle-button" onclick="toggleDetails('details-users-{{ subscription.id }}')">Users</button>
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <details id="details-users-{{ subscription.id }}" class="table-details">
        <summary>Users:</summary>
        <ul>
          {% for user_subscription in subscription.user_subscriptions %}
          <li>
            {{ user_subscription.user.name }} - {{ user_subscription.amount }} RUB
            <button type="button" onclick="detachUserFromSubscription({{ user_subscription.id }}, {{ subscription.id }})">Detach</button>
          </li>
          {% endfor %}
        </ul>
      </details>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>

<h2>Archived One-time Subscriptions (Loans)</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Period</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for subscription in one_time_subscriptions %}
  {% if subscription.is_paused %}
  <tr>
    <td>{{ subscription.id }}</td>
    <td>{{ subscription.name }}</td>
    <td>{{ subscription.description }}</td>
    <td>{{ subscription.monthly_amount }} RUB</td>
    <td>{{ subscription.period }}</td>
    <td>
      <button type="button" onclick="loadEditForm('subscription', '{{ subscription.id }}')">Edit</button>
      <button type="button" onclick="toggleSubscriptionPause({{ subscription.id }})">
        {{ 'Pause' if not subscription.is_paused else 'Resume' }}
      </button>
      <button type="button" onclick="deleteSubscription({{ subscription.id }})">Delete</button>
      <button type="button" onclick="openAttachUserForm('subscription', '{{ subscription.id }}')">Attach</button>
      <button class="toggle-button" onclick="toggleDetails('details-users-{{ subscription.id }}')">Users</button>
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <details id="details-users-{{ subscription.id }}" class="table-details">
        <summary>Users:</summary>
        <ul>
          {% for user_subscription in subscription.user_subscriptions %}
          <li>
            {{ user_subscription.user.name }} - {{ user_subscription.amount }} RUB
            <button type="button" onclick="detachUserFromSubscription({{ user_subscription.id }}, {{ subscription.id }})">Detach</button>
          </li>
          {% endfor %}
        </ul>
      </details>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
