<h2>One-time Subscriptions (Loans)</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Period</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for subscription in one_time_subscriptions %}
  {% if not subscription.is_paused %}
  <tr>
    <td>{{ subscription.id }}</td>
    <td>{{ subscription.name }}</td>
    <td>{{ subscription.description }}</td>
    <td>{{ subscription.monthly_amount }} RUB</td>
    <td>{{ subscription.period }}</td>
    <td>
      <button onclick="document.getElementById('editSubscriptionForm{{ subscription.id }}').style.display='block'">Edit</button>
      <button type="button" onclick="toggleSubscriptionPause({{ subscription.id }})">
        {{ 'Pause' if not subscription.is_paused else 'Resume' }}
      </button>
      <button type="button" onclick="deleteSubscription({{ subscription.id }})">Delete</button>
    </td>
  </tr>
  <tr id="editSubscriptionForm{{ subscription.id }}" style="display:none;">
    <td colspan="6">
      <form id="editSubscriptionFormElement{{ subscription.id }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Name" value="{{ subscription.name }}" required>
        <label for="description">Description:</label>
        <textarea name="description" placeholder="Description">{{ subscription.description }}</textarea>
        <label for="monthly_amount">Monthly Amount:</label>
        <input type="number" name="monthly_amount" placeholder="Monthly Amount" value="{{ subscription.monthly_amount }}" step="0.01" required>
        <input type="checkbox" name="is_variable" id="is_variable{{ subscription.id }}" {% if subscription.is_variable %}checked{% endif %}>
        <label for="is_variable{{ subscription.id }}">Variable</label>
        <label for="period">Period:</label>
        <select name="period" required>
          <option value="monthly" {% if subscription.period == 'monthly' %}selected{% endif %}>Monthly</option>
          <option value="annual" {% if subscription.period == 'annual' %}selected{% endif %}>Annual</option>
          <option value="one-time" {% if subscription.period == 'one-time' %}selected{% endif %}>One-time</option>
        </select>
        <button type="button" onclick="editSubscription('editSubscriptionFormElement{{ subscription.id }}', {{ subscription.id }})">Save Changes</button>
      </form>
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <details>
        <summary>Users</summary>
        <ul>
          {% for user_subscription in subscription.user_subscriptions %}
          <li>
            {{ user_subscription.user.name }} - {{ user_subscription.amount }} RUB
            <button type="button" onclick="detachUserFromSubscription({{ user_subscription.id }}, {{ subscription.id }})">Detach</button>
          </li>
          {% endfor %}
        </ul>
      </details>
      <details>
        <summary>Attach User to Subscription</summary>
        <form id="attachSubscriptionFormOneTime{{ subscription.id }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
          <input type="hidden" name="subscription_id" value="{{ subscription.id }}">
          <label for="user_id">User:</label>
          <select id="user_id" name="user_id" required>
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
          </select>

          <label for="next_due_date">Next Due Date:</label>
          <input type="date" id="next_due_date" name="next_due_date" value="{{ (now + timedelta(days=30)).strftime('%Y-%m-%d') }}" required>

          <label for="amount">Amount:</label>
          <input type="number" id="amount" name="amount" step="0.01" required>

          <label for="is_paused">Is Paused:</label>
          <input type="checkbox" id="is_paused" name="is_paused">

          <button type="button" onclick="attachUserToSubscription('attachSubscriptionFormOneTime{{ subscription.id }}')">Attach User to Subscription</button>
        </form>
      </details>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>

<h2>Archived One-time Subscriptions (Loans)</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Period</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for subscription in one_time_subscriptions %}
  {% if subscription.is_paused %}
  <tr>
    <td>{{ subscription.id }}</td>
    <td>{{ subscription.name }}</td>
    <td>{{ subscription.description }}</td>
    <td>{{ subscription.monthly_amount }} RUB</td>
    <td>{{ subscription.period }}</td>
    <td>
      <button onclick="document.getElementById('editSubscriptionForm{{ subscription.id }}').style.display='block'">Edit</button>
      <button type="button" onclick="toggleSubscriptionPause({{ subscription.id }})">
        {{ 'Pause' if not subscription.is_paused else 'Resume' }}
      </button>
      <button type="button" onclick="deleteSubscription({{ subscription.id }})">Delete</button>
    </td>
  </tr>
  <tr id="editSubscriptionForm{{ subscription.id }}" style="display:none;">
    <td colspan="6">
      <form id="editSubscriptionFormElement{{ subscription.id }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Name" value="{{ subscription.name }}" required>
        <label for="description">Description:</label>
        <textarea name="description" placeholder="Description">{{ subscription.description }}</textarea>
        <label for="monthly_amount">Monthly Amount:</label>
        <input type="number" name="monthly_amount" placeholder="Monthly Amount" value="{{ subscription.monthly_amount }}" step="0.01" required>
        <input type="checkbox" name="is_variable" id="is_variable{{ subscription.id }}" {% if subscription.is_variable %}checked{% endif %}>
        <label for="is_variable{{ subscription.id }}">Variable</label>
        <label for="period">Period:</label>
        <select name="period" required>
          <option value="monthly" {% if subscription.period == 'monthly' %}selected{% endif %}>Monthly</option>
          <option value="annual" {% if subscription.period == 'annual' %}selected{% endif %}>Annual</option>
          <option value="one-time" {% if subscription.period == 'one-time' %}selected{% endif %}>One-time</option>
        </select>
        <button type="button" onclick="editSubscription('editSubscriptionFormElement{{ subscription.id }}', {{ subscription.id }})">Save Changes</button>
      </form>
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <details>
        <summary>Users</summary>
        <ul>
          {% for user_subscription in subscription.user_subscriptions %}
          <li>
            {{ user_subscription.user.name }} - {{ user_subscription.amount }} RUB
            <button type="button" onclick="detachUserFromSubscription({{ user_subscription.id }}, {{ subscription.id }})">Detach</button>
          </li>
          {% endfor %}
        </ul>
      </details>
      <details>
        <summary>Attach User to Subscription</summary>
        <form id="attachSubscriptionFormOneTime{{ subscription.id }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
          <input type="hidden" name="subscription_id" value="{{ subscription.id }}">
          <label for="user_id">User:</label>
          <select id="user_id" name="user_id" required>
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
          </select>

          <label for="next_due_date">Next Due Date:</label>
          <input type="date" id="next_due_date" name="next_due_date" value="{{ (now + timedelta(days=30)).strftime('%Y-%m-%d') }}" required>

          <label for="amount">Amount:</label>
          <input type="number" id="amount" name="amount" step="0.01" required>

          <label for="is_paused">Is Paused:</label>
          <input type="checkbox" id="is_paused" name="is_paused">

          <button type="button" onclick="attachUserToSubscription('attachSubscriptionFormOneTime{{ subscription.id }}')">Attach User to Subscription</button>
        </form>
      </details>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
