<h2>Payments</h2>
<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Amount</th>
    <th>Comment</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for date, payments in payments_by_date.items() %}
  <tr>
    <td colspan="5"><strong>{{ date }}</strong></td>
  </tr>
  {% for payment in payments %}
  <tr>
    <td>{{ payment.user.name }}</td>
    <td>{{ payment.amount }} RUB</td>
    <td>{{ payment.comment | safe }}</td>
    <td>
      {% if payment.status == 'pending' %}
      <i class="fas fa-times-circle" style="color: red;"></i> Pending
      {% else %}
      <i class="fas fa-check-circle" style="color: green;"></i> Paid
      {% endif %}
    </td>
    <td>
      <button type="button" onclick="loadEditForm('payment', '{{ payment.id }}')"><i class="fas fa-edit"></i> Edit</button>
      <button type="button" onclick="deletePayment({{ payment.id }})"><i class="fas fa-trash"></i> Delete</button>
      <button type="button" onclick="updatePaymentStatus({{ payment.id }})">
        {% if payment.status == 'pending' %}
        <i class="fas fa-check"></i> Mark as Paid
        {% else %}
        <i class="fas fa-times"></i> Mark as Pending
        {% endif %}
      </button>
      {% if payment.status == 'pending' %}
      <button type="button" onclick="createReminder({{ payment.id }})"><i class="fas fa-bell"></i> Create Reminder</button>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  {% endfor %}
  </tbody>
</table>
