<h2>Regular Subscriptions</h2>
<table class="details-table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Monthly Amount</th>
    <th>Period</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for subscription in regular_subscriptions %}
  <tr>
    <td>{{ subscription.id }}</td>
    <td>{{ subscription.name }}</td>
    <td>{{ subscription.description }}</td>
    <td>{{ subscription.monthly_amount }} RUB</td>
    <td>{{ subscription.period }}</td>
    <td>
      <button type="button" onclick="loadEditForm('subscription', '{{ subscription.id }}')"><i class="fas fa-edit"></i> Edit</button>
      <button type="button" onclick="toggleSubscriptionPause({{ subscription.id }})">
        {% if subscription.is_paused %}
        <i class="fas fa-play"></i> Resume
        {% else %}
        <i class="fas fa-pause"></i> Pause
        {% endif %}
      </button>
      <button type="button" onclick="deleteSubscription({{ subscription.id }})"><i class="fas fa-trash"></i> Delete</button>
      <button type="button" onclick="openAttachUserForm('subscription', '{{ subscription.id }}')"><i class="fas fa-user-plus"></i> Attach User</button>
      <button class="toggle-button" onclick="toggleDetails('details-users-{{ subscription.id }}')"><i class="fas fa-users"></i> Users</button>
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <details id="details-users-{{ subscription.id }}" class="table-details">
        <summary><i class="fas fa-users"></i> Users:</summary>
        <ul>
          {% for user_subscription in subscription.user_subscriptions %}
          <li>
            {{ user_subscription.user.name }} - {{ user_subscription.amount }} RUB
            <button type="button" onclick="detachUserFromSubscription({{ user_subscription.id }}, {{ subscription.id }})"><i class="fas fa-unlink"></i> Detach</button>
          </li>
          {% endfor %}
        </ul>
      </details>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
