<h2>Reminders</h2>
<table>
    <thead>
    <tr>
        <th>User</th>
        <th>Reminder Date</th>
        <th>Status</th>
        <th class="actions">Actions</th> <!-- Добавлен класс actions -->
    </tr>
    </thead>
    <tbody>
    {% for reminder in reminders %}
    <tr>
        <td>{{ reminder.user.name }} / {{ reminder.id }}</td>
        <td>{{ reminder.reminder_date }}</td>
        <td>{{ reminder.status }}</td>
        <td class="actions"> <!-- Добавлен класс actions -->
            <button type="button" class="action-button" data-tippy-content="Edit" onclick="loadEditForm('reminder', '{{ reminder.id }}')">
                <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="action-button" data-tippy-content="Delete" onclick="deleteReminder({{ reminder.id }})">
                <i class="fas fa-trash"></i>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
