<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Discord ID</th>
        <th>VK ID</th>
        <th>Telegram ID</th>
        <th>Preferred Platform</th>
        <th>Notification Time</th>
        <th>Balance</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.discord_id }}</td>
        <td>{{ user.vk_id }}</td>
        <td>{{ user.telegram_id }}</td>
        <td>{{ user.preferred_platform }}</td>
        <td>{{ user.notification_time }}</td>
        <td>{{ user.balance }}</td>
        <td>
            <button onclick="document.getElementById('editUserForm{{ user.id }}').style.display='block'">Edit</button>
            <form method="post" action="{{ url_for('user_bp.delete_user', user_id=user.id) }}" style="display:inline;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <button type="submit">Delete</button>
            </form>
            <div id="editUserForm{{ user.id }}" style="display:none;">
                <form method="post" action="{{ url_for('user_bp.update_user', user_id=user.id) }}" class="form-container">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" value="{{ user.name }}" required>

                    <label for="discord_id">Discord ID:</label>
                    <input type="text" id="discord_id" name="discord_id" value="{{ user.discord_id }}">

                    <label for="vk_id">VK ID:</label>
                    <input type="text" id="vk_id" name="vk_id" value="{{ user.vk_id }}">

                    <label for="telegram_id">Telegram ID:</label>
                    <input type="text" id="telegram_id" name="telegram_id" value="{{ user.telegram_id }}">

                    <label for="preferred_platform">Preferred Platform:</label>
                    <select id="preferred_platform" name="preferred_platform" required>
                        <option value="discord" {% if user.preferred_platform == 'discord' %}selected{% endif %}>Discord</option>
                        <option value="vk" {% if user.preferred_platform == 'vk' %}selected{% endif %}>VK</option>
                        <option value="telegram" {% if user.preferred_platform == 'telegram' %}selected{% endif %}>Telegram</option>
                    </select>

                    <label for="notification_time">Notification Time:</label>
                    <input type="time" id="notification_time" name="notification_time" value="{{ user.notification_time.strftime('%H:%M') if user.notification_time else '19:00' }}" required>

                    <label for="balance">Balance:</label>
                    <input type="number" id="balance" name="balance" value="{{ user.balance }}" step="0.01" required>

                    <button type="submit">Save</button>
                </form>
            </div>
            <button class="toggle-button" onclick="toggleDetails('details-subscriptions-{{ user.id }}')">Subscriptions</button>
            <details id="details-subscriptions-{{ user.id }}" class="table-details">
                <summary>Subscriptions</summary>
                <ul>
                    {% for user_subscription in user.subscriptions %}
                    {% if not (user_subscription.subscription.is_paused and user_subscription.subscription.period == 'one-time') %}
                    <li id="userSubscription{{ user_subscription.id }}">
                        {{ user_subscription.subscription.name }} ({{ user_subscription.subscription.description }})
                        <form method="post" action="{{ url_for('subscription_bp.update_user_subscription', user_subscription_id=user_subscription.id) }}" style="display:inline;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                            <input type="number" name="amount" value="{{ user_subscription.amount }}" step="0.01" required> RUB
                            <input type="checkbox" name="is_manual" {% if user_subscription.is_manual %}checked{% endif %}> Manual
                            <button type="submit">Update</button>
                        </form>
                        <button type="button" onclick="detachUserFromSubscription({{ user_subscription.id }}, {{ user_subscription.subscription.id }})">Detach</button>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </details>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
