<h2>Users</h2>
<table class="details-table">
    <thead>
    <tr>
        <th class="centered-header">Name</th>
        <th class="centered-header">Discord ID</th>
        <th class="centered-header">VK ID</th>
        <th class="centered-header">Telegram ID</th>
        <th class="centered-header">Preferred Platform</th>
        <th class="centered-header">Notification Time</th>
        <th class="centered-header">Balance</th>
        <th class="actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr id="user-row-{{ user.id }}">
        <td>{{ user.id }}.{{ user.name }}</td>
        <td>{{ user.discord_id }}</td>
        <td>{{ user.vk_id }}</td>
        <td>{{ user.telegram_id }}</td>
        <td>{{ user.preferred_platform }}</td>
        <td>{{ user.notification_time }}</td>
        <td>{{ user.balance }}</td>
        <td class="actions">
            <button type="button" class="action-button" data-tippy-content="Edit" onclick="loadEditForm('user', '{{ user.id }}')">
                <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="action-button" data-tippy-content="Delete" onclick="deleteUser({{ user.id }})">
                <i class="fas fa-trash"></i>
            </button>
            <button class="toggle-button action-button" data-tippy-content="Subscriptions" onclick="toggleUserSubscriptions('{{ user.id }}')">
                <i class="fas fa-eye"></i>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
