<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attach User to Subscription</title>
</head>
<body>
<h1>Attach User to Subscription</h1>
<form action="{{ url_for('user_bp.attach_user_to_subscription') }}" method="post">
    <label for="user_id">User:</label><br>
    <select id="user_id" name="user_id" required>
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.name }}</option>
        {% endfor %}
    </select><br><br>

    <label for="subscription_id">Subscription:</label><br>
    <select id="subscription_id" name="subscription_id" required>
        {% for subscription in subscriptions %}
        <option value="{{ subscription.id }}">{{ subscription.name }}</option>
        {% endfor %}
    </select><br><br>

    <label for="next_due_date">Next Due Date:</label><br>
    <input type="date" id="next_due_date" name="next_due_date" required><br><br>

    <label for="amount">Amount:</label><br>
    <input type="text" id="amount" name="amount" required><br><br>

    <label for="is_paused">Is Paused:</label>
    <input type="checkbox" id="is_paused" name="is_paused"><br><br>

    <input type="submit" value="Attach User to Subscription">
</form>
</body>
</html>
