<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Management System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="{{ url_for('static', filename='js/utils.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/ui.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/subscription.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/user.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/reminder.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/payment.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/darkmode.js') }}" defer></script>

  <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    {% for message in messages %}
    Toastify({
      text: "{{ message }}",
      duration: 5000,
      close: true,
      gravity: "top",
      position: "right",
      backgroundColor: "#007bff",
      stopOnFocus: true,
    }).showToast();
    {% endfor %}
  });
</script>
{% endif %}
{% endwith %}

<div class="container">
  <div class="main-content">
    <h1 class="centered">User Management System</h1>
    <div class="tab-buttons">
      <button class="tab-button" onclick="openTab(event, 'users')"><i class="fas fa-users"></i>Пользователи</button>
      <button class="tab-button" onclick="openTab(event, 'one_time_subscriptions')"><i class="fas fa-wallet"></i>Займы</button>
      <button class="tab-button" onclick="openTab(event, 'regular_subscriptions')"><i class="fas fa-calendar-alt"></i>Подписки</button>
      <button class="tab-button" onclick="openTab(event, 'payments')"><i class="fas fa-credit-card"></i>Платежи</button>
      <button class="tab-button" onclick="openTab(event, 'reminders')"><i class="fas fa-bell"></i>Напоминания</button>
    </div>

    <div id="users" class="tab-content">
      {% include 'partials/users.html' %}
    </div>
    <div id="one_time_subscriptions" class="tab-content" style="display:none;">
      {% include 'partials/one_time_subscriptions.html' %}
    </div>
    <div id="regular_subscriptions" class="tab-content" style="display:none;">
      {% include 'partials/regular_subscriptions.html' %}
    </div>
    <div id="payments" class="tab-content" style="display:none;">
      {% include 'partials/payments.html' %}
    </div>
    <div id="reminders" class="tab-content" style="display:none;">
      {% include 'partials/reminders.html' %}
    </div>
  </div>

  <div class="sidebar">
    <div class="sidebar-tab-buttons" >
      <button class="sidebar-tab-button" data-tippy-content="Add User" onclick="openSidebarTab(event, 'add_user')">
        <i class="fas fa-user-plus"></i>
      </button>
      <button class="sidebar-tab-button" data-tippy-content="Add Subscription" onclick="openSidebarTab(event, 'add_subscription')">
        <i class="fas fa-plus-circle"></i>
      </button>
      <button class="sidebar-tab-button" data-tippy-content="Add Payment" onclick="openSidebarTab(event, 'add_payment')">
        <i class="fas fa-credit-card"></i>
      </button>
      <button class="sidebar-tab-button" data-tippy-content="Add Reminder" onclick="openSidebarTab(event, 'add_reminder')">
        <i class="fas fa-bell"></i>
      </button>
      <button id="darkmode-toggle" data-tippy-content="Dark Mode" class="sidebar-tab-button">🌓</button>
    </div>
    <div id="add_user" class="sidebar-tab-content">
      {% include 'forms/add_user.html' %}
    </div>
    <div id="add_subscription" class="sidebar-tab-content" style="display:none;">
      {% include 'forms/add_subscription.html' %}
    </div>
    <div id="add_payment" class="sidebar-tab-content" style="display:none;">
      {% include 'forms/add_payment.html' %}
    </div>
    <div id="add_reminder" class="sidebar-tab-content" style="display:none;">
      {% include 'forms/add_reminder.html' %}
    </div>
    <div id="edit_user" class="sidebar-tab-content" style="display:none;"></div>
    <div id="attach_user_to_subscription" class="sidebar-tab-content" style="display:none;"></div>
  </div>
</div>


</body>
</html>
