<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Management System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- Подключаем новые JavaScript файлы -->
  <script src="{{ url_for('static', filename='js/utils.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/ui.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/subscription.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/user.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/reminder.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/payment.js') }}" defer></script>
  <!-- Подключаем новые JavaScript файлы -->
  <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="container">
  <div class="main-content">
    <h1 class="centered">User Management System</h1>
    <div class="tab-buttons">
      <button class="tab-button active" onclick="openTab(event, 'users')"><i class="fas fa-users"></i> Пользователи</button>
      <button class="tab-button" onclick="openTab(event, 'one_time_subscriptions')"><i class="fas fa-wallet"></i> Займы</button>
      <button class="tab-button" onclick="openTab(event, 'regular_subscriptions')"><i class="fas fa-calendar-alt"></i> Подписки</button>
      <button class="tab-button" onclick="openTab(event, 'payments')"><i class="fas fa-credit-card"></i> Платежи</button>
      <button class="tab-button" onclick="openTab(event, 'reminders')"><i class="fas fa-bell"></i> Напоминания</button>
    </div>

    <div id="users" class="tab-content">
      {% include 'partials/users.html' %}
    </div>
    <div id="one_time_subscriptions" class="tab-content" style="display:none;">
      {% include 'partials/one_time_subscriptions.html' %}
    </div>
    <div id="regular_subscriptions" class="tab-content" style="display:none;">
      {% include 'partials/regular_subscriptions.html' %}
    </div>
    <div id="payments" class="tab-content" style="display:none;">
      {% include 'partials/payments.html' %}
    </div>
    <div id="reminders" class="tab-content" style="display:none;">
      {% include 'partials/reminders.html' %}
    </div>
  </div>

  <div class="sidebar">

    <div class="sidebar-tab-buttons">
      <button class="sidebar-tab-button active" onclick="openSidebarTab(event, 'add_user')"><i class="fas fa-user-plus"></i> Add User</button>
      <button class="sidebar-tab-button" onclick="openSidebarTab(event, 'add_subscription')"><i class="fas fa-plus-circle"></i> Add Sub</button>
      <button class="sidebar-tab-button" onclick="openSidebarTab(event, 'add_payment')"><i class="fas fa-money-check-alt"></i> Add Payment</button>
      <button class="sidebar-tab-button" onclick="openSidebarTab(event, 'add_reminder')"><i class="fas fa-clock"></i> Add Reminder</button>
    </div>
    <div id="add_user" class="sidebar-tab-content">
      {% include 'forms/add_user.html' %}
    </div>
    <div id="add_subscription" class="sidebar-tab-content" style="display:none;">
      {% include 'forms/add_subscription.html' %}
    </div>
    <div id="add_payment" class="sidebar-tab-content" style="display:none;">
      {% include 'forms/add_payment.html' %}
    </div>
    <div id="add_reminder" class="sidebar-tab-content" style="display:none;">
      {% include 'forms/add_reminder.html' %}
    </div>
    <!-- New section for edit user form -->
    <div id="edit_user" class="sidebar-tab-content" style="display:none;"></div>
    <div id="attach_user_to_subscription" class="sidebar-tab-content" style="display:none;"></div>
  </div>
</div>

</body>
</html>
